@import "tailwindcss";

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }

body::-webkit-scrollbar { width: 5px; }
body::-webkit-scrollbar-track { background: #000; }
body::-webkit-scrollbar-thumb { background: #222; border-radius: 3px; }

::selection { background: #C9A84C30; color: #fff; }

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
